/**
 * The css file for the public facing views of the plugin
 *
 * @link       https://e-leven.net/
 * @since      0.7.0
 *
 * @package    my-movie-database
 * @subpackage my-movie-database/mmdb_templates/assets/css
 */

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.mmdb-content * {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    max-width: 100%;
}
div.mmdb-content ul {
    list-style: none;
}

div.mmdb-content .credits-wrapper, div.mmdb-content .mmdb-flex-container, div.mmdb-content .nav.nav-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (max-width: 575px) {
    div.mmdb-content .credits-wrapper, div.mmdb-content .mmdb-flex-container, div.mmdb-content .nav.nav-tabs {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .mmdb-content{
        font-size: 15px;
    }
}

@media (min-width: 768px) {

    .mmdb-content{
        font-size: 16px;
    }
}

.mmdb-section {
    width: 100%;
}

div.mmdb-content h1 {
    font-size: 2em;
}
/*
 Tab navigation
 */

/* Tabs template */
div.mmdb-content .nav {
    margin-bottom: 0;
    padding-left: 0;
}

div.mmdb-content .nav-tabs {
    border: none;
}
div.mmdb-content .nav-tabs > li {
    /*float: none;*/
    /*margin-bottom: -1px;*/
}

div.mmdb-content .nav > li {
    position: relative;
    display: block;
}

div.mmdb-content .nav-tabs > li > a {
    margin-right: 2px;
    font-size: 1.125em;
    line-height: 1.5;
    border: none;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    cursor: pointer;
}

div.mmdb-content .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
div.mmdb-content .nav-tabs > li.active > a, div.mmdb-content .nav-tabs > li.active > a:hover, div.mmdb-content .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}

div.mmdb-content .nav-tabs > li.active > a.active {
    /* The tab navigation colors are inherited from the plugin color pattern settings; This is a way to override this*/
    /*color: yellow!important;*/
    /*background-color: black!important;*/
}

div.mmdb-content .nav-tabs > li.inactive > a.inactive {
    /* The tab navigation colors are inherited from the plugin color pattern settings; This is a way to override this*/
    /*color: black!important;*/
    /*background-color: yellow!important;*/
}

div.mmdb-content .nav-tabs > li.inactive > a:hover, div.mmdb-content .nav-tabs > li.inactive > a:focus {
    opacity: .6;
}
div.mmdb-content h3 {
    padding: 10px 15px;
    margin: 0;
    font-size: 1.0625em;
}

/* Accordion template */
div.mmdb-content .panel-title a {
    text-decoration: none;
}

div.mmdb-content .panel-title {
    cursor: pointer;
}

div.mmdb-content .panel-body {
    padding: 0;
}

div.mmdb-content .panel-heading {
    padding: 15px 0;
}

div.mmdb-content .pull-right {
    float: right !important;
}

/*
 Overview sections
 */
div.mmdb-content .mmdb-meta {
    line-height: 1.5;
}

@media (min-width: 768px) {
    div.mmdb-content .mmdb-meta {
        padding:0 0 0 20px
    }
}

@media (max-width: 767px) {
    div.mmdb-content .mmdb-meta {
        padding-top: 40px
    }
}

div.mmdb-content .mmdb-meta,  div.mmdb-content .credits.bg-image .img-container {
    width: auto;
}

div.mmdb-content .mmdb-flex-container  {
    text-align: center;
    padding: 20px;
}

div.mmdb-content .entry-title {
    text-align: center;
    padding: 20px 0 40px;
}

div.mmdb-content .overview-text {
    padding: 20px 0;
    text-align: left;
}

div.mmdb-content .meta-wrapper, div.mmdb-content .credits.bg-image {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

/*
 Credits sections
 */
div.mmdb-content .credits-wrapper {
    text-align: center;
    padding: 40px 5px 20px;
}

div.mmdb-content .person-credits .credits-wrapper {
    padding: 40px 5px 10px;
}

div.mmdb-content.movie .credits-wrapper, div.mmdb-content.tvshow .credits-wrapper {
    row-gap: 40px;
}

div.mmdb-content.person .credits-wrapper {
    row-gap: 20px;
}

div.mmdb-content .bg-image ul.credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

div.mmdb-content ul.credits {
    margin: 10px 0 0;
}

div.mmdb-content.person ul.credits {
    height: 80px;
    overflow: hidden;
}

div.mmdb-content ul.credits li {
    font-size: .95em;
    line-height: 1em;
    padding: 0 0 5px
}

div.mmdb-content .img-circle {
    border-radius: 50%;
}

/* Person credits */
div.mmdb-content h4.movie_cast, div.mmdb-content h4.tv_cast, div.mmdb-content h4.movie_crew, div.mmdb-content h4.tv_crew {
    font-size: 1.5em;
    text-align: center;
}

div.mmdb-content .person.credits .credit-list-wrapper:first-child {
    padding: 40px 0 0
}

div.mmdb-content .person.credits .credit-list-wrapper:not(:first-child){
    padding: 0;
}

/* Person credits and TvShow seasons (overview-on-hover) */

div.mmdb-content  .overview-on-hover .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.mmdb-content .person .credits .img-container img, div.mmdb-content .seasons .credits .img-container img {
    object-fit: cover;
    height: 278px;
    width: 185px;
}

div.mmdb-content .overview-on-hover .credits.bg-image {
    min-height: 320px
}

.mmdb-body .overview-on-hover .img-container .description {
    padding: 30px 10px 0;
    font-size: 0.85em;
    line-height: 1.5em;
}

.mmdb-body .bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: hsla(0,0%,100%,0.7);
    background-blend-mode: overlay;
    background-size: contain;
    cursor: pointer;
}
/* IE and Edge hack  */

_:-ms-lang(x), .mmdb-body .bg-image {
    background-image: none!important;
    background-color: hsla(0,0%,100%,0.2);
}

/*Transition effects*/
div.mmdb-content .bounce-enter-active {
    animation: bounce-in .5s;
}
div.mmdb-content .bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.06);
    }
    75% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}
div.mmdb-content .fade-enter-active {
    transition: opacity .3s;
}
div.mmdb-content .fade-leave-active {
    transition: opacity .3s;
}

div.mmdb-content .fade-enter, div.mmdb-content .fade-leave-to  {
    opacity: 0;
    background: inherit;
}

/* Movie trailer section 4 */
.mmdb-trailer-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    max-width: 1920px;
    margin: 0 auto;
}
.mmdb-trailer-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 1080px;
}

/* App popup info modal */
div.mmdb-content .appModal {
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
    left: calc(40%);
    /*left: calc(50vw - 300px);*/
    position: absolute;
    z-index: 999;
    width: 300px;
    /*top: 20vh;*/
    top: calc(40%);
    border-radius: 5px;
    overflow: hidden;
}
div.mmdb-content .appModal .appModalTitle {
    background-color: #eee;
    text-align: left;
    padding: 8px 12px;
    font-size: 1.4em;
}
div.mmdb-content .appModal .appModalTitle .close {
    line-height: 26px;
    color: purple;
    float: right;
    border: none;
}
div.mmdb-content .appModal .appModalBody {
    background-color: #fff;
    text-align: left;
    padding: 12px;
}
div.mmdb-content .appModal .appModalFooter {
    background-color: #eee;
    padding: 12px;
    text-align: left;
}

/*
  App responsive breakpoint classes
*/
div.mmdb-content .col-all-12 {
    width: 100%;
}

div.mmdb-content [class^='col-'] {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
}

div.mmdb-content .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
}

div.mmdb-content .col-xs-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

div.mmdb-content .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
}

div.mmdb-content .col-xs-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

div.mmdb-content .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
}

div.mmdb-content .col-xs-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

div.mmdb-content .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
}

div.mmdb-content .col-xs-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

div.mmdb-content .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    div.mmdb-content .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    div.mmdb-content .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    div.mmdb-content .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    div.mmdb-content .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    div.mmdb-content .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    div.mmdb-content .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    div.mmdb-content .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    div.mmdb-content .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    div.mmdb-content .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    div.mmdb-content .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    div.mmdb-content .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    div.mmdb-content .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    div.mmdb-content .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    div.mmdb-content .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    div.mmdb-content .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    div.mmdb-content .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    div.mmdb-content .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    div.mmdb-content .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    div.mmdb-content .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }

    div.mmdb-content .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    div.mmdb-content .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    div.mmdb-content .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    div.mmdb-content .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    div.mmdb-content .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    div.mmdb-content .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    div.mmdb-content .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    div.mmdb-content .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    div.mmdb-content .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    div.mmdb-content .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    div.mmdb-content .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    div.mmdb-content .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    div.mmdb-content .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    div.mmdb-content .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    div.mmdb-content .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    div.mmdb-content .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    div.mmdb-content .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1536px) {
    div.mmdb-content .col-2xl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    div.mmdb-content .col-2xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    div.mmdb-content .col-2xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    div.mmdb-content .col-2xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    div.mmdb-content .col-2xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    div.mmdb-content .col-2xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    div.mmdb-content .col-2xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    div.mmdb-content .col-2xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    div.mmdb-content .col-2xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
